.warning-workflow {
  border-bottom: 5px solid lightgray;
  padding-bottom: 30px;
}

.warning-workflow h2 {
  text-align: center;
  margin: 40px auto 20px;
}

.warning-radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 20px;
}

@media screen and (min-width: 1020px) {
  .warning-radios {
    justify-content: center;
  }

  .warning-radios label {
    margin: 0 20px;
  }
}

.warning-radios .form-group {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 10px;
}

@media screen and (min-width: 440px) {
  .warning-radios .form-group {
    width: 80%;
  }
}

@media screen and (min-width: 640px) {
  .warning-radios .form-group {
    width: 50%;
  }
}

.warning-radios span {
  display: block;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  z-index: 2;
}

.warning-radios .big {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.warning-radios input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.warning-radios label {
  width: 100%;
  padding: 10vw 0;
  border-radius: 20px; 
  box-shadow: 8px 16px 20px 0 rgba(0,0,0,0.22);
  transition: background-color 0.2s ease;
}

@media screen and (min-width: 1024px) {
  .warning-radios label {
    padding: 100px 0;
  }
}

.warning-radios .label:hover,
.warning-radios .label:focus {
  cursor: pointer;
}

.warning-radios .label-test {
  background-color: rgba(243, 154, 39, 0.15);
  border: 1px solid rgba(243, 154, 39, 0.25);
}

.warning-radios .label-test:hover,
.warning-radios input[type="radio"]:focus + .label-test {
  background-color: rgba(243, 154, 39, 0.35);
}

.warning-radios input[type="radio"]:checked + .label-test {
  background-color: rgba(243, 154, 39, 0.85);
}

.warning-radios .label-live {
  background-color: rgba(247, 45, 15, 0.15);
  border: 1px solid rgba(247, 45, 15, 0.25);
}

.warning-radios .label-live:hover,
.warning-radios input[type="radio"]:focus + .label-live {
  background-color: rgba(247, 45, 15, 0.35);
}

.warning-radios input[type="radio"]:checked + .label-live {
  background-color: rgba(247, 45, 15, 0.85);
}

.warning-radios label:after {
  visibility: hidden;
  margin-top: 15px;
  content: "";
  display: inline-block;
  height: 15px;
  width: 35px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  
  transform: rotate(-45deg);
}

.warning-radios input[type="radio"]:checked + label::after {
  visibility: visible;
}

.warning-radios .submit-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.warning-radios .warn {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin-top: 30px;
}

.warning-radios .submit-warning {
  border: 2px solid rgb(247, 45, 15);
}

.warning-radios .btn-lg {
  min-width: 25vw;
  margin: 30px auto 0;
  font-size: 2.6rem;
}

.warning-radios .glyphicon {
  display: inline;
}

.warning-radios .warn .glyphicon {
  margin-right: 10px;
}

.well {
  text-align: center;
  background-image: none;
}

.well.test {
  background-color: rgba(243, 154, 39, 0.35);
}

.well.live {
  background-color: rgba(247, 45, 15, 0.35);
}

.running-text {
  font-size: 2.2rem;
}